{% extends "base.html" %}
{% load static %}


{% block title %}landing{% endblock title %}
{% block css %}


{% endblock css %}

{% block content %}
<div style="
    height: 100vh;
    background-image: url('{% static 'img/1.avif' %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
">
    <h1 style ="color : white;
    font-size : 50px;
    padding-top: 300px;
    padding-left:20px" >Infosys Unveils AI-first GCC Model <br> to Transform Global Capability <br>Centers into Innovation Hubs</h1>
    <button style=" background-color:transparent;
    color:white;
    margin:30px; 
    padding-left:40px;
    padding-right:40px;
    padding-top:15px;
    padding-bottom:15px;
    border: 2px solid rgb(187, 172, 172);" > READ MORE</button>
</div>



<div style="
    height: 100vh;
    background-image: url('{% static 'img/2.webp' %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
">
    <h1 style ="color : white;
    font-size : 50px;
    padding-top: 300px;
    padding-left:20px" >Chapions Evolue</h1>
    <h1 style ="color : white;
    font-size : 18px;
    padding-top:10px;
    padding-left:20px">DIGITAL-FIRST | CLOUD-FIRST | AI-FIRST</h1>
    <button style=" background-color:transparent;
    color:white;
    margin:30px; 
    padding-left:40px;
    padding-right:40px;
    padding-top:15px;
    padding-bottom:15px;
    border: 2px solid rgb(187, 172, 172);" > READ MORE</button>
</div>



<div style="
    height: 100vh;
    background-image: url('{% static 'img/3' %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
">
    <h1 style ="color : white;
    font-size : 50px;
    padding-top: 300px;
    padding-left:20px" >Chapions Evolue</h1>
    <h1 style ="color : white;
    font-size : 18px;
    padding-top:10px;
    padding-left:20px">DIGITAL-FIRST | CLOUD-FIRST | AI-FIRST</h1>
    <button style=" background-color:transparent;
    color:white;
    margin:30px; 
    padding-left:40px;
    padding-right:40px;
    padding-top:15px;
    padding-bottom:15px;
    border: 2px solid rgb(187, 172, 172);" > READ MORE</button>
</div>





{% endblock content %}
